[submodule "vim/theme/solarized8"]
	path = vim/theme/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/theme/gruvbox"]
	path = vim/theme/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/plugin/airline"]
	path = vim/plugin/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/plugin/fugitive"]
	path = vim/plugin/fugitive
	url = https://github.com/tpope/vim-fugitive.git
